<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>DwellEase</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/lightbox.css">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
<style>
 .owl-courses-item {
  display: flex;
  align-items: stretch; /* This makes all items in the flex container stretch to the same height */
}

.owl-courses-item .item {
  flex: 1; /* This makes each item take up equal space */
  margin: 0 10px; /* Adjust margin as needed */
}


.owl-courses-item img {
  width: 100%;
  height: 50; /* To maintain the image aspect ratio */
}

.down-content {
  flex: 1;
}

/* Optional: Add some spacing between cards */
.owl-courses-item .item + .item {
  margin-left: 10px; /* Adjust as needed */
}


</style>
  </head>

<body>

  <!-- Sub Header -->
 

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                        DwellEase
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="/login" >Owner</a></li>
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="/static/assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Find Your Perfect PG Accommodation</h6>
              <h2>Welcome to DwellEase</h2>
              <p>Explore a diverse range of PG accommodations in your preferred area. Our user-friendly interface allows you to. </p>
              <div class="main-button-red">
                <a href=" login"> <div class="scroll-to-section">Login!</div></a>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src="/static/assets/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Easy Search</h4>
                <p>Easily find PGs based on location, budget, and amenities.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="/static/assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Get Recommendations</h4>
                <p>Receive personalized suggestions based on your location and preferences.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="/static/assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Compare & Decide</h4>
                <p>Compare multiple PGs to find the best fit for you.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="/static/assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Contact Owners</h4>
                <p>Directly connect with PG owners for further details or bookings.</p>
              </div>
            </div>
            
          
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Experience Home Away from Home</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Tiered Comforts</h4>
            <ul>
              <li>High-Quality PGs:Unparalleled Comfort and Luxury</li>
              <li>Medium-Quality PGs:Balancing Comfort and Affordability</li>
              <li>Average-Quality PGs: Affordable Living without Compromises</li>
             
            </ul>
            <div class="main-button-red">
              <a href="login">Discover More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                 
                  <a href="meeting-details.html"><img src="/static/assets/images/pg_room2.jpg" alt="New Lecturer Meeting"></a>
                </div>
                <div class="down-content">
                 
                  <a href="meeting-details.html"><h4>Affordable Pricing</h4></a>
                  <p>We offer affordable PG accommodations without compromising on the quality of service and amenities. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  
                  <a href="meeting-details.html"><img src="/static/assets/images/pg_room7.jpg" alt="Online Teaching"></a>
                </div>
                <div class="down-content">
                 
                  <a href="meeting-details.html"><h4> Comfortable Living Spaces</h4></a>
                  <p>Our rooms are thoughtfully designed to make you feel at home.  </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                 
                  <a href="meeting-details.html"><img src="/static/assets/images/pg_room4.jpg" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                 
                  <a href="meeting-details.html"><h4>Secure and Safe Environment</h4></a>
                  <p>Our PG facilities are equipped with security measures to ensure a secure environment for all residents. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  
                  <a href="meeting-details.html"><img src="/static/assets/images/pg_room5.jpg" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  
                  <a href="meeting-details.html"><h4>Prime Locations</h4></a>
                  <p>Our PG rooms are strategically located in prime areas, providing easy access to key amenities.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>Ready to Take Your PG Business to the Next Level?</h3>
                <p>Simplify the management of your PG properties with our user-friendly platform. Easily update room availability, manage bookings, and keep track of tenant information all in one place.</p>
              
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>Elevate Your Property Management with DwellEase </h3>
                <p>Are you a PG owner looking to list your space? Join our platform to.</p>
                <div class="main-button-yellow">
                  
                  <div class="scroll-to-section"><a href="/owner_register">Join Us Now!</a></div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
                <div class="accordion-head">
                    <span>Increased Visibility</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Expand your reach and attract more tenants by listing your PG properties on our platform.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>Strategic Marketing for Your PG:</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>We leverage our extensive reach to showcase your PG properties to a wider audience.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>Manage with Ease</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Update, edit, or remove listings with a user-friendly management system.</p>
                    </div>
                </div>
            </article>
            <article class="accordion last-accordion">
                <div class="accordion-head">
                    <span> Marketing Assistance</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Let us showcase your PG's unique features. Our marketing support helps potential tenants easily choose your property.</p>
                    </div>
                </div>
            </article>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Find Your Perfect PG</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="/static/assets/images/pg1.jpg" alt="Course One">
              <div class="down-content">
                <h4>698 Oak Avenue, Downtown</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <p><b>UrbanHaven Residences</b></p>
                    </div>
                    <div class="col-4">
                       <span>Hubli</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/static/assets/images/pg2.jpg" alt="Course Two">
              <div class="down-content">
                <h4> 165 Main Street, City Center,Hubli</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <p><b>MetroMingle Residences</b></p>
                    </div>
                    <div class="col-4">
                       <span>Hubli</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/static/assets/images/pg3.jpg" alt="">
              <div class="down-content">
                <h4>732 Elm Boulevard, Metro Area, Hubli </h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <p><b>Harmony Heights PG</b></p>
                    </div>
                    <div class="col-4">
                       <span>Hubli</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/static/assets/images/pg4.jpg" alt="">
              <div class="down-content">
                <h4>101 Maple Lane, Peaceful Plaza, Hubli </h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <p><b>MapleMeadow Residences</b></p>
                    </div>
                    <div class="col-4">
                       <span>Hubli</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/static/assets/images/pg5.jpg" alt="">
              <div class="down-content">
                <h4>202 Pine Street, Vibrant Valley,Hubli</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <p><b>CityVibe Dormitories</b></p>
                    </div>
                    <div class="col-4">
                       <span>Hubli</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/static/assets/images/pg6.jpg" alt="">
              <div class="down-content">
                <h4>321 Elm Street, Downtown,Hubli</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <p><b>CozyQuarters Residences</b></p>
                    </div>
                    <div class="col-4">
                       <span>Hubli</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/static/assets/images/pg7.jpg" alt="">
              <div class="down-content">
                <h4>456 Pine Avenue, City Center,Hubli</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <p><b>PinnaclePads Living</b></p>
                    </div>
                    <div class="col-4">
                       <span>Hubli</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/static/assets/images/pg8.jpg" alt="">
              <div class="down-content">
                <h4>789 Oak Boulevard, Metro Area,Hubli</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <p><b>HorizonHarbor Residences</b></p>
                    </div>
                    <div class="col-4">
                       <span>Hubli</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </section>

 

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>010-020-0340</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@meeting.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>Rio de Janeiro - RJ, 22795-008, Brazil</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.meeting.edu</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/assets/js/isotope.min.js"></script>
    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/lightbox.js"></script>
    <script src="/static/assets/js/tabs.js"></script>
    <script src="/static/assets/js/video.js"></script>
    <script src="/static/assets/js/slick-slider.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>